body {
    background-color: #fff;
}

h2, 
h4  {
    font-family: Gentium Book Plus, serif;
}

.brand {
    font-family: Mea Culpa, sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #1a1a1a;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.navbar {
    background-color: #1a1a1a;
    font-family: Roboto Slab, serif;
}

.navbar-brand {
    color:#F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.masthead {
    margin-top: 30px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 43vh;
    width: 100%;
}

.masthead-text {
    background-color: #1a1a1a;
    color: #fff;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #1a1a1a;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #1a1a1a;
}

.post-link:hover {
    color: #6b6b6b;
}

.post-title {
    margin-top: 15%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.btn-del {
    background-color:#1a1a1a;
    color:#F9FAFC;
}

.btn-del:hover {
    background-color: #F9FAFC;
    color:#1a1a1a;
}

.btn-sec {
    background-color: #1a1a1a;
    color: #F9FAFC;
}

.btn-sec:hover {
    background-color: #F9FAFC;
    color:#1a1a1a;
}

.page-link {
    background-color: #1a1a1a;
    color: #F9FAFC;
}

.page-link:hover {
    background-color: #F9FAFC;
    color: #6b6b6b;;
    border: none;
}

.contributor-photo {
    width: 140px;
    height: 140px;
}

.row {
    margin-left: 10px;
    
}

.footer {
    background-color: #1a1a1a;   
}