{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
<!-- Check this for loop and how you access the objects data -->
        <div class="row">
            <!-- About page heading -->
            <h2 class="text-center blog-heading">About Us</h2><br>
                {% for contributor in contributor_list %}
                <div class="col-md-4">
                    <div class="card-mb-4"> 
                        <div class="card-body"> 
                            <h4 class="contributor-name"><strong>{{contributor.name}}</strong></h4>
                            <div class="image-container">
                                <img class="contributor-photo card-img-top" src="{{ contributor.photo.url }}">
                            </div>
                        </div>
                    </div>
                </div> 
                </div>
                <div class="row">
                <div class="contributor-bio">{{contributor.bio|safe}}</div>
                </div>
                {% endfor %}

{%endblock%}



